html {
  font-size:20px;
  text-align:center;
}

body {
  font-family:"Arial", "Meiryo", sans-serif;
}

.blue {
  color:skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  text-shadow: 1px 1px 3px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
  font-size: 2rem;
  letter-spacing: 1.2em;
}

#basic > p {
  font-weight: bold;
}